pip install contourpy==1.1.0
pip install cycler==0.11.0
pip install fonttools==4.42.0
pip install imageio==2.31.1
pip install kiwisolver==1.4.4
pip install lazy_loader==0.3
pip install matplotlib==3.7.2
pip install networkx==3.1
pip install numpy==1.25.2
pip install packaging==23.1
pip install Pillow==10.0.0
pip install pyparsing==3.0.9
pip install python-dateutil==2.8.2
pip install PyWavelets==1.4.1
pip install scikit-image==0.21.0
pip install scipy==1.11.1
pip install shapely==2.0.1
pip install six==1.16.0
pip install tifffile==2023.7.18
pip install scikit-learn==1.3.0
pip install ./GDAL-3.4.3-cp311-cp311-win_amd64.whl
